<%= div_for response, class: "row" do %>
  <div class="wrapper col-lg-6 col-md-8 col-sm-12">

    <h3><%= response.title.titleize %></h3>
    <p class="username">Shared by <%= link_to "#{response.user.fname} #{response.user.lname }", user_path(response.user), class: "btn btn-link" %> about <%= time_ago_in_words(response.created_at) %> ago</p>
    <p class="content"><%= response.content %></p>

    <% if current_user && current_user == response.user %>

    <div class="actions">
      <%= link_to "Edit", edit_response_path(response), class: "btn btn-link", data: { remote: true, "data-toggle": "modal", "data-target": "#modal-lg" } %>
      <%= link_to "Delete", response_path(response), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
    </div>
    <% end %><!-- /if -->
  </div>
<% end %><!-- /#div_for -->
