<!DOCTYPE html>
<html>
<head>
  <title>CodeonestopApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
<% if current_user %>
  <li><%= current_user.fname.titleize %></li>
  <li><%= link_to "Log out", logout_path, method: :delete %></li>
<% else %>
  <li><%= link_to "Log in", login_path %></li>
  <li><%= link_to "Sign up", signup_path %></li>
<% end %>
</ul>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
