<!DOCTYPE html>
<html>
<head>
  <title>CodeonestopApp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/nav' %>
<%= render partial: 'shared/modal' %>

<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">

    <%= render partial: 'shared/flash' %>
    <%= yield %>

  </div>
</div>


</body>
</html>
